.title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.car-img {
    height: 200px;
}

ul li {
    list-style: none;
}

h5 {
    padding-bottom: 20px;
}

.list-group {
    cursor: pointer;
}

.phoneBlock {
    height: 36px;
}

.modal.fade.show {
    display: block;
}

.phone-enter-active, .phone-leave-active {
    transition: all .4s;
}

.phone-enter, .phone-leave {
    transform: rotateX(50px);
    opacity: 0;
}