//colors

$akcent: #007cd5;



//start

.nav {
    padding: 10px 0;
    &_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-top {
        padding: 15px 0px;
        background-color: #F8F8F8;
    }
}

#icon {
    margin-left: 10px;
}

.tel {
    padding-left: 10px;
    color: #000;
    transition: .2s;
    &:hover {
        color: #3E3D3D;
        text-decoration: none;
    }
}

//end nav-top section

//start nav section

.logo img {
    width: 60px;
}

.menu {
    display: flex;

    &_item {
        list-style: none;

        & a {
            font-weight: 700;
            padding-left: 25px;
            color: #000;
            font-size: 20px;
        }
    }
}

.active {
    color: $akcent;
}

//end nav section

//start offer section

.offer {
    background-color: #000;

    &_title {
        color: #fff;
        margin-top: 70px;
        font-size: 55px;
    }

    &_descr {
        color: #fff;
        margin-top: 75px;
    }

    &_btn {
        border: none;
        text-align: center;
        background-color: $akcent;
        padding: 15px;
        border-radius: 55px ;
        font-size: 19px;
        color: #fff;
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

//start adv section
.advs {
    &_title {
        font-size: 30px;
    }
}


.adv {
    text-align: center;
    margin-top: 70px;
}

#adv_icon {
    font-size: 45px;
    color: $akcent;
}

//claim 

.claim {
    background-color: #16222b;
    margin-top: 60px;

    &_title {
        color: #fff;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    &_adict {
        color: #fff;
        margin-left: 50px;
    }
    &_adict_first {
        color: #fff;
    }
    &_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}

.hand img {
    width: 55px;
    margin-left: 50px;
}

// feed section

.feed {
    &_title {
        text-align: center;
        color: #000;
        margin-top: 45px;
    }
    &_wrp {
        margin-top: 30px;
    }
    &_owner {
        color: $akcent;
    }
}

#str {
    color: yellow;
}

//plan 

.plan {
    background-color: #F8F8F8;
    margin-top: 100px;
}

.plm {
    &_body {
        margin-top: 30px;
        text-align: center;
        background-color: #fff;
        border: 1px solid #aeaaea;
        margin-bottom: 30px;
    }
    &_title {
        font-size: 24px;
        padding: 20px;
    }
    &_price {
        background-color: $akcent;
        color: #fff;
        padding: 20px;
    }
    &_sales {
        font-size: 14px;
        line-height: 25px;
    }
}

//off

.punkt-menu {
    font-size: 20px;
    margin-top: 15px;
}

//footer 

.footer {
    background-color: #16222b;
}

.footer-get_out {
    color: #fff;
}

.get_zagavka {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.get_method {
    margin-top: 20px;
}

@media (max-width: 731px) {
    .menu {
        display: none;
    }

    .offer_title {
        font-size: 44px;
    }

    .claim_wrap {
        flex-direction: column;
        text-align: center;
    }

    .hand {
        margin-left: 117px;
    }

    .claim_adict , .claim_adict_first {
        margin-left: 140px;
    }

    .offer_btn {
        margin-left: 120px;
    }
}